
# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
settings.py
db.sqlite3
/media
/static

# End of https://www.gitignore.io/api/django

jobs/migrations/

blog/migrations/
