{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="media">
    <!-- <img class="mr-3" src="#" alt="Generic placeholder image"> -->
    <div class="media-body">
      <h1 class="mt-0">{{comic.title}} {{comic.issue}}</h1>
      <b>Publisher: </b>{{comic.publisher}}<br>
      <b>Graded:</b> {{comic.graded}}<br>
      <b>Key: </b> {{comic.key}}
  </div>
</div>
<hr>
  <h4 class="text-center"><a href="{% url 'comicHome' %}">Back to Comic Collection</a></h4>
</div>
{% endblock %}
