{% extends 'base.html' %}
{% block content %}

      <div class="container">
        <h1 class="text-center">Comic Collection</h1>
        <br />
        <br />
        <div class="row">
          <div class="col-sm col-8">
            <h2 class="text-center">Latest Comics</h2>
            <hr />
            <table class="datatable table table-striped">
                <thead>
                  <tr>
                    <th>Title - Issue</th>
                    <th>Publisher:</th>
                    <th>Graded:</th>
                    <th>Key Issue:</th>
                  </tr>
                </thead>
                <tbody>
                    {%  for comic in comics%}
                  <tr>
                    <td><a href="{% url 'comics:comicDetail' comic.id %}">{{comic.title}} {{comic.issue}}</a></td>
                    <td>{{comic.publisher}}</td>
                    <td> {{comic.graded}} </td>
                    <td> {{comic.key}} </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="col-sm col-4">
            {% if error %}
              {{ error }}
            {% endif %}
            <h2 class="text-center">Add New Comics</h2>
            <hr>
            <form class="" action="{% url 'comics:addComic' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <table>
                  {{form}}
                </table>
              </div>
              
                
              
              <!-- <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comicTitle">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Issue</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comicIssue">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Publisher</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comicPublisher">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Graded</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comicGraded">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Key</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comicKey">
              </div> -->
              <input type="submit" name="submit" value="Add new Comic" class="btn btn-primary">
              </form>
              <br>
            </div>
          </div>
        </div>


{% endblock %}
