{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <h1 class="text-center">{{comic.title}} {{comic.Issue}}</h1>
        <br />
        <br />
        <hr />
        <div class="container">
          <br />
          <b>Publisher: </b>{{comic.publisher}}<br>
          <b>Graded:</b> {{comic.graded}}<br>
          <b>Key: </b> {{comic.key}}
          <hr />
        </div>
        <h4 class="text-center"><a href="{% url 'comicHome' %}">Back to Comic Collection</a></h4>
      </div>

{% endblock %}
