{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col lg-4">
      <a href="{% url 'cardHome' %}"><h1 class="text-center">Card Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Cards</h2>
      <hr />
      {%  for card in latest_cards.all %}
      <div class="media" style="padding-bottom: 10px;">
        <img class="mr-3" src="{{card.findUrl}}" alt="Generic placeholder image">
        <div class="media-body">
          <h3><a href="{% url 'cardDetail' card.id %}">{{card.name}}</a></h3>
          <b>Set:</b> {{card.set}}<br>
          <b>Artist:</b> {{card.artist}}<br>
          <b>Price: </b> {{card.price}}<br>
          <b>Quantity: </b> {{card.quantity}}
      </div>
    </div>
      {% endfor %}
    </div>
    <div class="col lg-4">
      <a href="{% url 'bookHome' %}"><h1 class="text-center">Book Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Books</h2>
      <hr />
      {%  for book in latest_books.all %}
      <div class="container">
        <h3><a href="{% url 'bookDetail' book.id %}">{{book.title}}</a></h3>
        <br />
        <b>Author: </b>{{book.author}}<br>
        <b>Genre: </b>{{book.genre}}<br>
        <b>ISBN: </b>{{book.isbn}}
        <hr />
      </div>
      {% endfor %}
    </div>
    <div class="col lg-4">
      <a href="{% url 'comicHome' %}"><h1 class="text-center">Comic Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Comics</h2>
      <hr />
      {%  for comic in latest_comics.all %}
      <div class="container">
        <h3><a href="{% url 'comicDetail' comic.id %}">{{comic.title}} {{comic.issue}}</a></h3>
        <br />
        <b>Graded: </b>{{comic.graded}}<br>
        <b>Key Issue: </b>{{comic.key}}
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
