{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col lg-3">
      <a href="{% url 'cards:cardHome' %}"><h1 class="text-center">Card Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Cards</h2>
      <hr />
      <table class="datatable table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Set</th>
              <th>Artist</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
              {%  for card in latest_cards.all %}
            <tr>
              <td><a href="{% url 'cards:cardDetail' card.id %}">{{card.name}}</a></td>
              <td>{{ card.set }}</td>
              <td> {{ card.artist }} </td>
              <td> {{ card.quantity }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- {%  for card in latest_cards.all %}
      <div class="media" style="padding-bottom: 10px;">
        <img class="mr-3" src="{{card.findUrl}}" alt=" ">
        <div class="media-body">
          <h3><a href="{% url 'cardDetail' card.id %}">{{card.name}}</a></h3>
          <b>Set:</b> {{card.set}}<br>
          <b>Artist:</b> {{card.artist}}<br>
          <b>Price: </b> {{card.price}}<br>
          <b>Quantity: </b> {{card.quantity}}
      </div>
      <hr>
    </div>
      {% endfor %} -->
    </div>
    <div class="col lg-3">
      <a href="{% url 'books:bookHome' %}"><h1 class="text-center">Book Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Books</h2>
      <hr />
      <table class="datatable table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author:</th>
              <th>Genre:</th>
              <th>ISBN:</th>
            </tr>
          </thead>
          <tbody>
              {%  for book in latest_books.all %}
            <tr>
              <td><a href="{% url 'books:bookDetail' book.id %}">{{book.title}}</td>
              <td>{{book.author}}</td>
              <td> {{book.genre}} </td>
              <td> {{book.isbn}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- {%  for book in latest_books.all %}
      <div class="media" style="padding-bottom: 10px;">
        <img class="mr-3 rounded" src="{{book.cover}}" alt="Generic placeholder image" style="width: 135px;">
        <div class="media-body">
          <h3 class="mt-0"><a href="{% url 'bookDetail' book.id %}">{{book.title}}</a></h3>
          <b>Author:</b> {{book.author}}<br>
          <b>Genre:</b> {{book.genre}}<br>
          <b>ISBN: </b> {{book.isbn}}
      </div>
      <hr>
    </div>
      {% endfor %} -->
    </div>
    <div class="col lg-3">
      <a href="{% url 'comics:comicHome' %}"><h1 class="text-center">Comic Collection</h1></a>
      <br />
      <h2 class="text-center">Latest Comics</h2>
      <hr />
      <table class="datatable table table-striped">
          <thead>
            <tr>
              <th>Title - Issue</th>
              <th>Publisher:</th>
              <th>Graded:</th>
              <th>Key Issue:</th>
            </tr>
          </thead>
          <tbody>
              {%  for comic in latest_comics.all %}
            <tr>
              <td><a href="{% url 'comics:comicDetail' comic.id %}">{{comic.title}} {{comic.issue}}</a></td>
              <td>{{comic.publisher}}</td>
              <td> {{comic.graded}} </td>
              <td> {{comic.key}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- {%  for comic in latest_comics.all %}
      <div class="container">
        <h3><a href="{% url 'comicDetail' comic.id %}">{{comic.title}} {{comic.issue}}</a></h3>
        <br />
        <b>Publisher: </b>{{comic.publisher}}<br>
        <b>Graded: </b>{{comic.graded}}<br>
        <b>Key Issue: </b>{{comic.key}}
        <hr />
      </div>
      {% endfor %} -->
    </div>
  </div>
</div>
{% endblock %}
