{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="media">
      <!-- {{card.findUrl}} -->
    <img class="mr-3" src="#" alt=" ">
    <div class="media-body">
      <h1 class="mt-0">{{card.name}}</h1>
      <b>Set:</b> {{card.set}}<br>
      <b>Artist:</b> {{card.artist}}<br>
      <!-- {{card.price}} -->
      <b>Price: </b>Price <br>
      <b>Quantity: </b> {{card.quantity}}
  </div>
</div>
<hr>
  <h4 class="text-center"><a href="{% url 'cardHome' %}">Back to Card Collection</a></h4>
</div>

{% endblock %}
