{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <h1 class="text-center">{{card.name}}</h1>
        <br />
        <br />
        <hr />
        <div class="container">
          <br />
          <b>Set:</b> {{card.set}}<br>
          <b>Artist:</b> {{card.artist}}<br>
          <b>Quantity: </b> {{card.quantity}}
          <hr />
        </div>
        <h4 class="text-center"><a href="{% url 'cardHome' %}">Back to Card Collection</a></h4>
      </div>

{% endblock %}
