{% extends 'base.html' %}
{% block content %}

      <div class="container">
        <h1 class="text-center">Card Collection</h1>
        <form class="" action="{% url 'cardSearch' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for Cards" aria-label="searchbar" aria-describedby="basic-addon2" name="cardSearchItem">
            <div class="input-group-append">
              <input class="btn btn-outline-secondary" type="submit" name="submit" value="Search Cards">
            </div>
          </div>
        </form>
        <br />
        <br />
        <div class="row">
          <div class="col-sm col-lg-8">
            <h2 class="text-center">Latest Cards</h2>
            <hr />
            {%  for card in cards %}
            <div class="media" style="padding-bottom: 10px;">
              <img class="mr-3" src="{{card.findUrl}}" alt="Generic placeholder image">
              <div class="media-body">
                <h3><a href="{% url 'cardDetail' card.id %}">{{card.name}}</a></h3>
                <b>Set:</b> {{card.set}}<br>
                <b>Artist:</b> {{card.artist}}<br>
                <b>Price: </b> {{card.price}}<br>
                <b>Quantity: </b> {{card.quantity}}
            </div>
          </div>
            {% endfor %}
          </div>
          <div class="col-sm col-lg-4">
            {% if error %}
              {{ error }}
            {% endif %}
            <h2 class="text-center">Add New Cards</h2>
            <hr>
            <form class="" action="{% url 'addCard' %}" method="post">
              {% csrf_token %}
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cardName">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Set</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cardSet">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Artist</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cardArtist">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cardQuantity">
              </div>
              <input type="submit" name="submit" value="Add new Card" class="btn btn-primary">
              </form>
              <br>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation blog">
          <ul class="pagination justify-content-center">
            {% if cards.has_previous %}
            <li class="page-item">
              <a href="?page=1" class="page-link">first</a>
            </li>
            <li class="page-item">
            <a href="?page={{ cards.previous_page_number }}" class="page-link">{{ cards.previous_page_number }}</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a href="#" class="page-link">previous</a>
            </li>
            {% endif %}
              <li class="page-item active">
                <a class="page-link" href="#" class="page-link">{{ cards.number }} <span class="sr-only">(current)</span></a>
              </li>
            {% if cards.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ cards.next_page_number }}">{{ cards.next_page_number }}</a>
            </li>
            <li class="page-item">
              <a href="?page={{ cards.paginator.num_pages }}" class="page-link">last</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">next</a>
            </li>
            {% endif %}
            </ul>
        </nav>


{% endblock %}
