
{% extends 'base.html' %}
{% block content %}

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Ben Pearlstine</h1>
          <p class="lead text-muted">Short about section.</p>
          <p>
            <a href="mailto:ben.pearlstine@gmail.com" class="btn btn-primary my-2">Get in touch</a>
          </p>
        </div>
      </section>

      <div class="container">
        <h1 class="text-center">{{blog.title}}</h1>
        <br />
        <br />
        <hr />
        <div class="container">
          <img class="image-fluid rounded" src="{{blog.image.url}}" alt="blog image" style="width:500px;height:200px;">
          <br />
          {{blog.body}}
          <hr />
          {{blog.pub_day}}
        </div>
      </div>

    </main>
{% endblock %}
