{% extends 'base.html' %}
{% block content %}
{% if error %}
  {{ error }}
{% endif %}
<div class="col align-self-end text-center">
  <h4 class="">Add new Blog</h4>
  <form class="" action="{% url 'blog:newBlog' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Title:</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="blogTitle">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Blog:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" name="blogBody"></textarea>
    </div><br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload Image:</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" name="blogImage">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <input class="btn btn-primary" type="submit" name="blogSubmit" value="Submit new Blog">
  </form>
</div>
</div>
{% endblock %}
