{% extends 'base.html' %}
{% block content %}

      <div class="container">
        <h1 class="text-center">Book Collection</h1>
        <form class="" action="{% url 'bookSearch' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for Books" aria-label="searchbar" aria-describedby="basic-addon2" name='bookSearchTerm'>
            <div class="input-group-append">
              <input class="btn btn-outline-secondary" type="submit" name="submit" value="Search Books">
            </div>
          </div>
        </form>
        <br />
        <br />
        <div class="row">
          <div class="col-sm col-8">
            <h2 class="text-center">Latest Books</h2>
            <hr />
            {%  for book in books %}
            <div class="media" style="padding-bottom: 10px;">
              <img class="mr-3 rounded" src="{{book.cover}}" alt="Generic placeholder image" style="width: 135px;">
              <div class="media-body">
                <h3 class="mt-0"><a href="{% url 'bookDetail' book.id %}">{{book.title}}</a></h3>
                <b>Author:</b> {{book.author}}<br>
                <b>Genre:</b> {{book.genre}}<br>
                <b>ISBN: </b> {{book.isbn}}
            </div>
          </div>
            {% endfor %}
          </div>
          <div class="col-sm col-4">
            {% if error %}
              {{ error }}
            {% endif %}
            <h2 class="text-center">Add New Books</h2>
            <hr>
            <form class="" action="{% url 'addBook' %}" method="post">
              {% csrf_token %}
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="bookTitle">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Author</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="bookAuthor">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="bookGenre">
              </div>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">ISBN</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="bookIsbn">
              </div>
              <input type="submit" name="submit" value="Add new Book" class="btn btn-primary">
              </form>
              <br>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation blog">
          <ul class="pagination">
            {% if books.has_previous %}
            <li class="page-item">
              <a href="?page=1" class="page-link">first</a>
            </li>
            <li class="page-item">
            <a href="?page={{ books.previous_page_number }}" class="page-link">{{ books.previous_page_number }}</a>
            </li>
            {% endif %}
              <!-- Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}. -->
              <li class="page-item active">
                <a class="page-link" href="#" class="page-link">{{ books.number }} <span class="sr-only">(current)</span></a>
              </li>
            {% if books.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ books.next_page_number }}">{{ books.next_page_number }}</a>
            </li>
            <li class="page-item">
              <a href="?page={{ books.paginator.num_pages }}" class="page-link">last</a>
            </li>
            {% endif %}
            </ul>
        </nav>


{% endblock %}
