{% extends 'base.html' %}
{% block content %}

{% if isEmpty %}
  {{ isEmpty }}
{% endif %}

{% if matchingBooks %}
  <div class="col-8">
    <h2 class="text-center">Search Results</h2>
    <hr />
    {%  for book in matchingBooks %}
    <div class="media">
      <img class="mr-3 rounded" src="{{book.cover}}" alt="Generic placeholder image" style="width: 135px;">
      <div class="media-body">
        <h1 class="mt-0">{{book.title}}</h1>
        <b>Author:</b> {{book.author}}<br>
        <b>Genre:</b> {{book.genre}}<br>
        <b>ISBN: </b> {{book.isbn}}
    </div>
  </div>
  <hr>
    {% endfor %}
    <h4 class="text-center"><a href="{% url 'bookHome' %}">Back to Book Collection</a></h4>
  </div>
{% endif %}
<nav aria-label="Page navigation blog">
  <ul class="pagination justify-content-center">
    {% if matchingBooks.has_previous %}
    <li class="page-item">
      <a href="?page=1" class="page-link">first</a>
    </li>
    <li class="page-item">
    <a href="?page={{ matchingBooks.previous_page_number }}" class="page-link">{{ matchingBooks.previous_page_number }}</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a href="#" class="page-link">previous</a>
    </li>
    {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#" class="page-link">{{ matchingBooks.number }} <span class="sr-only">(current)</span></a>
      </li>
    {% if matchingBooks.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ matchingBooks.next_page_number }}">{{ matchingBooks.next_page_number }}</a>
    </li>
    <li class="page-item">
      <a href="?page={{ matchingBooks.paginator.num_pages }}" class="page-link">last</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">next</a>
    </li>
    {% endif %}
    </ul>
</nav>
{% endblock %}
