{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>Hangman</h2>
    </div>
    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
        <strong>Sorry!</strong> That letter wasn't in the word, try again!.
        <button type="button" class="close" id="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row" id="gameBody"></div>
    <div class="row" id="guesses"></div>
    <div class="row" >
        <button type="button" class="btn btn-primary btn-sm" id="playBTN">Do you want to Play?</button>
        <label for="letter" style="display: none" id="letterLabel">Guess a Letter!</label>
        <input type="text" id="letter" class="form-control" style="display: none">
        <button type="button" class="btn btn-primary btn-sm" id="ajaxBTN" style="display: none">Submit</button>
    </div>
</div>



<script>

    $('#playBTN').click(function(){
        this.hidden = true;
        $('#letterLabel').toggle();
        $('#letter').toggle();
        $('#ajaxBTN').toggle();
        $('#gameBody').append("<img src='/media/images/hangman1.png'>");
        $.ajax ({
            type: 'GET',
            url: 'ajax/beginGame',
            data: {},
            dataType: 'json',
            success: function (data){
                $('#guesses').append("<input type='text' id='word' value='"+data.word+"' hidden>")
                $('#guesses').append("<input type='text' id='letters' value='" + data.letters + "' hidden>")
                $('#guesses').append("<input type='text' id='chances' value='6' hidden>")
                $('#guesses').append("<h3><p id='numLetters'></p></h3>");
                var dashes = '';
                var dashList = '';
                for(var i = 0;i < data.count;i++){
                    dashes += "_ ";
                    dashList += "_,";
                }
                $('#guesses').append("<input type='text' id='dash' value='" + dashList + "' hidden>")
                $('#numLetters').text(dashes);
            }
        });
    });

    $('#ajaxBTN').click(function(){

        console.log('So Clicked');
        var letter = $('#letter').val();
        $('#letter').val('');
        var word = $('#word').val();
        var letters = $('#letters').val();
        var chances = $('#chances').val();
        var innerText = $('#dash').val();

        $.ajax ({    
            type: 'GET', 
            url: 'ajax/checkLetter',
            data: {
                'letter': letter,
                'word': word,
                'letters': letters,
                'chances': chances,
                'innerText': innerText
            },
            dataType: 'json',
            success: function (data) {               
                if (data.correct == true){
                    console.log(data.innerText);
                    $('#numLetters').text(data.innerText);
                    $('#letters').val(data.letters);
                    $('#dash').val(data.innerText);
                } else{                   
                    $('#chances').val(data.chances);
                    $('#alert').toggle();
                    var chances = 7 - parseInt(data.chances);
                    console.log(chances);                    
                    var nextImage = "/media/images/hangman" + chances + ".png";
                    $('#gameBody').html("<img src='"+nextImage+"'>");
                }
            }
        });

    });

    $('#close').click(function(){
        $('#alert').toggle();
    })
</script>
{% endblock %}
