
{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <h1 class="text-center">What's New</h1>
      <br />
      <hr />
      <div class="media" onclick="window.location='{% url 'detail' blog.id %}';" style="cursor: pointer;">
        <img class="align-self-start mr-3 rounded" src="{{blog.image.url}}" alt="blog image" style="height: 100px;">
        <div class="media-body">
          <h5 class="mt-0">{{blog.title}}</h5><i class="far fa-clock"></i> {{blog.pub_day}}
          <p>{{blog.summary}}...</p>
        </div>
      </div>
    </div>
      <hr>
      <div class="album py-5">
        <div class="container">
          <h2 class="text-center">Education and Technical Experience</h2>
          <div class="row">

            {%  for job in jobs.all %}
            <div class="col-md-4 jobCard">
              <div class="card box-shadow">
                <img class="card-img-top rounded" style="height: 150px;" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{  job.summary }}</p>
                </div>
              </div>
            </div>

            {%  endfor %}
          </div>
        </div>
      </div>



{% endblock %}
