
{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <h1 class="text-center">What's New</h1>
      <br />
      <hr />
      <div class="container">
        <h3><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></h3>
        <br />
        <img class="image-fluid rounded" src="{{blog.image.url}}" alt="blog image" style="width:500px;height:200px;">
        <br />
        {{blog.summary}}...
        <hr />
        {{blog.pub_day}}
      </div>
    </div>
      <hr>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {%  for job in jobs.all %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top rounded" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{  job.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            {%  endfor %}
          </div>
        </div>
      </div>



{% endblock %}
