
{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <h1 class="text-center">What's New</h1>
      <br />
      <hr />
      <div class="container">
        <h3><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></h3>
        <br />
        <img class="image-fluid rounded" src="{{blog.image.url}}" alt="blog image" style="width:500px;height:200px;">
        <br />
        {{blog.summary}}...
        <hr />
        {{blog.pub_day}}
      </div>
    </div>
      <hr>
      <div class="album py-5">
        <div class="container">
          <h2 class="text-center">Education and Technical Experience</h2>
          <div class="row">

            {%  for job in jobs.all %}
            <div class="col-md-4 jobCard">
              <div class="card box-shadow">
                <img class="card-img-top rounded" style="height: 150px;" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{  job.summary }}</p>
                </div>
              </div>
            </div>

            {%  endfor %}
          </div>
        </div>
      </div>



{% endblock %}
